/*
Theme Name: DPSG Friedberg
Theme URI: http://www.bytekeks.de
Author: Bytekeks
Author URI: http://www.bytekeks.de
Description: Dieses Wordpress Theme orientiert sich an den Vorgaben des corporate Designs der DPSG. Kompatibel ist dieses Theme mit Wordpress >= 4.0.
Version: 0.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dpsg, friedberg, scout, pfadfinder
Text Domain: dpsgfdb
*/

body        {
	color: #333; 
	background: #e6e5e6;
	background-image: url("images/noise.png");
	/*background: #c1c0c0;
	background-image: url("images/noise-bg-c1c0c0.png");*/
	font-family: 'Ubuntu',"Open Sans",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
}

@media screen and (max-width:480px) {
/* smartphone users */
    .desktop-only {
        display:none !important;
    }

    .mobile-only {
        display:block !important;
    }

body {
	padding: 0 !important;
}

#main, #pagemain    {
	width: 95%;
	margin: 0 auto;
	padding: 0;
	float: none;
}

#sidebar    {
	width: 100%;
	box-sizing: border-box;
	margin: 20px auto;
	text-align: center;
	float: right;
}

#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4 {
	background-color: #fff;
	background-image: url("images/noise.png");
	margin: 5px 0 0 0;
	padding: 5px 0;
}

#sidebar ul {
	list-style: none;
	padding: 5px 0 0 0;
	margin: 0;

}

#sidebar ul li {
	padding: 0;

}

#sidebar ul li a {
	width: 100%;
	width:100%;
	margin: 0;
	padding: 0 0 10px 0;
	display:block;
}

#searchform {
	border: 0;
	margin: 0 auto;
	padding: 0;
	width: 200px;

}


#searchinput {
	width: 170px;
	color: #888;
	border: 0;
	border-bottom: 1px solid #810a1a;
	background-color: transparent;
}

.searchnotfound {
	text-align: center;
	
}

#searchsubmit {
	height: 24px;
	width: 24px;
	border: 0;
	background: url("images/searchicon.png") no-repeat 6px 6px;
}

#navbar {
	background: #fff;
	background-image: url("images/noise.png");
	position: relative;
	z-index: 1001;
}

.menu-navigation-container {
	position: relative;
}

#menu-navigation {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;

}

#menu-navigation li {
	margin: 0;
	display: inline;

}

#menu-navigation li a {
	padding: 20px;
	display: inline-block;

}

#menu-navigation a:link {
  text-decoration: none;
	font-weight: normal;
}

#menu-navigation a:visited {
    	text-decoration: none;
}

#menu-navigation a:active {
	color: #810a1a;
	text-decoration: none;
}

#menu-navigation ul, #menu-navigation ul li ul {
	margin: 0;
	padding 0;    
	visibility:hidden;
	opacity:0;
	position: absolute;
}

#menu-navigation li {
	position: relative;

}

#menu-navigation ul {
	top 0;
	left: 0;
	padding: 0;
	margin: 0;
	border: 1px solid #cfcfcf;
	background-color: #fff;
	background-image: url("images/noise.png");
	width: 180px;
	text-align: left;

}

#menu-navigation li ul li {
	margin: 0;
	padding: 0;
	display: block;
	border-bottom: 1px solid #999;

}

#menu-navigation li a {
	margin-top: 1px;

}

#menu-navigation li ul li a {
	padding: 20px 20px 20px 30px;
	width: 100%;
	box-sizing: border-box;
	margin-left: 1px;

}

#content {
	width: 100%;
	margin: 0;
	padding: 0;
}


#logo {
	width: 200px;
	height: 110px;
	display: block;
	background-image: url("images/logo200.png");
	text-indent: -9999px;
	margin: 20px auto;
}

#siteheading {
	display: none;
}

.completepost {
	width: 100%;
	padding-top: 25px;
}

.postseperator {
	clear: both;
	width: 35px;
	margin: 15px auto 20px auto;
	padding: 0;
	border-bottom: 3px solid #810a1a;
}

.posthead {
	width: 100%;
	float: left;
}

.starticon {
	display: none;
}


.postheading {
	margin: 0 0 5px 0;
	padding 0;
	float: left;
}

.entry {
	float: none;
	padding: 0;
	/*mit box-sizing: width: 100% inkl. padding..*/
	width: 100%;
}

.entry-date {
	float: right;
}

.postfoot {
	
}

.zielicon {
	display: none;
}

#footer {
	text-align: center;
	color: #fff;
	background-color: #810a1a;
}

}
/* End of phone user section */


@media screen and (min-width:481px) and (max-width:1280px) {
/* Tablet Users */
    .desktop-only {
        display:none !important;
    }

    .mobile-only {
        display:block !important;
    }

#main, #pagemain       {
	width: 98%;
	margin: 0 auto;
	padding: 0;
	float: none;
}



#sidebar    {
	width: 100%;
	box-sizing: border-box;
	margin: 35px auto;
	text-align: center;
	float: right;
}

#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4 {
	background-color: #fff;
	background-image: url("images/noise.png");
	margin: 0;
	padding: 5px 0;
}

#sidebar ul {
	list-style: none;
	padding: 5px 0 0 0;
	margin: 0;

}

#sidebar ul li {
	padding: 0 0 10px 0;
}

#sidebar ul li a {
	width: 100%;
	width:100%;
	margin: 0;
	padding: 0 0 5px 0;
	display:block;
}

#searchform {
	border: 0;
	margin: 0 auto;
	padding: 0;
	width: 200px;

}


#searchinput {
	width: 170px;
	color: #888;
	border: 0;
	border-bottom: 1px solid #810a1a;
	background-color: transparent;
}

.searchnotfound {
	text-align: center;
}

#searchsubmit {
	height: 24px;
	width: 24px;
	border: 0;
	background: url("images/searchicon.png") no-repeat 6px 6px;
}

#navbar {
	background: #fff;
	background-image: url("images/noise.png");
	position: relative;
	z-index: 1001;
}

.menu-navigation-container {
	position: relative;
}

#menu-navigation {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;

}

#menu-navigation li {
	margin: 0;
	display: inline;

}

#menu-navigation li a {
	padding: 20px;
	display: inline-block;

}

#menu-navigation a:link {
  text-decoration: none;
	font-weight: normal;
}

#menu-navigation a:visited {
    	text-decoration: none;
}

#menu-navigation a:active {
	color: #810a1a;
	text-decoration: none;
}

#menu-navigation ul, #menu-navigation ul li ul {
	margin: 0;
	padding 0;    
	visibility:hidden;
	opacity:0;
	position: absolute;
}

#menu-navigation li {
	position: relative;

}

#menu-navigation ul {
	top 0;
	left: 0;
	padding: 0;
	margin: 0;
	border: 1px solid #cfcfcf;
	background-color: #fff;
	background-image: url("images/noise.png");
	width: 180px;
	text-align: left;

}

#menu-navigation li ul li {
	margin: 0;
	padding: 0;
	display: block;
	border-bottom: 1px solid #999;

}

#menu-navigation li a {
	margin-top: 1px;

}

#menu-navigation li ul li a {
	padding: 20px 20px 20px 30px;
	width: 100%;
	box-sizing: border-box;
	margin-left: 1px;

}

#content {
	width: 100%; /*668+40+200+40*/
	margin: 0;
	padding: 0;
}


#logo {
	width: 200px;
	height: 110px;
	display: block;
	background-image: url("images/logo200.png");
	text-indent: -9999px;
	margin: 20px auto;
}

#siteheading {
	display: none;
}

.completepost {
	width: 100%;
	padding-top: 25px;
}

.postseperator {
	clear: both;
	margin: 10px 0 50px 0;
	padding: 0;
}

.posthead {
	width: 100%;
	float: left;
}

.starticon {
	width: 40px;
	height: 20px;
	margin: 4px 20px 0 0;
	background-image: url("images/wegzeichen_start_alpha.png");
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}


.postheading {
	margin: 0;
	padding 0;
	float: left;
}

.entry {
	float: left;
	padding: 0 0 0 60px;
	box-sizing: border-box;
	/*mit box-sizing: width: 100% inkl. padding..*/
	width: 100%;
}

.entry-date {
	float: right;
}

.postfoot {
	
}

.zielicon {
	height: 40px;
	width: 20px;
	float: right;
	margin: 20px 75px 0 0;
	background-image: url("images/wegzeichen_ziel_alpha.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

#footer {
	text-align: center;
	color: #fff;
	background-color: #810a1a;
}

}
/* End of tablet user section */

@media screen and (min-width:1281px) {
/* PC users */
    .desktop-only {
        display:block !important;
    }

    .mobile-only {
        display:none !important;
    }

#main       {
	width: 75%;
	margin: 0;
	float: left;
}

#pagemain       {
	width: 100%;
	margin: 0;
	float: left;
}

#navbar {
	background: #fff;
	background-image: url("images/noise.png");
	position: relative;
	z-index: 1001;
}

.menu-navigation-container {
	position: relative;
}

#menu-navigation {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;

}



#menu-navigation li {
	margin: 0;
	display: inline;

}

#menu-navigation li a {
	padding: 20px;
	display: inline-block;

}

#menu-navigation a:link {
    	text-decoration: none;

	font-weight: normal;
}

#menu-navigation a:visited {

    	text-decoration: none;
}

#menu-navigation a:hover {
	color: #810a1a;
    	text-decoration: none;
}

#menu-navigation a:active {
	color: #810a1a;
    	text-decoration: none;
}

#menu-navigation li:hover > ul {
	visibility:visible;
	opacity:1;

}

#menu-navigation ul, #menu-navigation ul li ul {
	margin: 0;
	padding 0;    
	visibility:hidden;
	opacity:0;
	position: absolute;
}

#menu-navigation li {
	position: relative;

}

#menu-navigation ul {
	top 0;
	left: 0;
	padding: 0;
	margin: 0;
	border: 1px solid #cfcfcf;
	background-color: #fff;
	background-image: url("images/noise.png");
	width: 180px;
	text-align: left;

}

#menu-navigation li ul li {
	margin: 0;
	padding: 0;
	display: block;
	border-bottom: 1px solid #999;

}

#menu-navigation li a {
	margin-top: 1px;

}

#menu-navigation li ul li a {
	padding: 20px 20px 20px 30px;
	width: 100%;
	box-sizing: border-box;
	margin-left: 1px;

}

#menu-navigation li a:hover {
	border-top: 1px solid #810a1a;
	margin-top: 0;
}

#menu-navigation li ul li a:hover {
	border-top: 0;
	margin-top: 1px;
	border-left: 1px solid #810a1a;
	margin-left: 0;
}

#sidebar    {
	width: 19%;
	box-sizing: border-box;
	margin: 10px;
	float: right;
}

.headerslider {
	margin: 20px 0;
}

#searchform {
	float: right;
	padding: 3px;
	border: 0;
	background-color: transparent;
	margin-bottom: 1px;
}


#searchinput {
	width: 120px;
	border: 0;
	background-color: transparent;
	color: #888;
	
}

#searchform:hover {
	border-bottom: 1px solid #810a1a;
	margin-bottom: 0;
}

#searchsubmit {
	height: 24px;
	width: 24px;
	border: 0;
	background: url("images/searchicon.png") no-repeat 6px 6px;
}

#content {
	width: 968px; /*668+40+200+40*/
	margin: 0 auto;
	padding: 0 10px;
}

.completepost {
	width: 100%;
	padding-top: 25px;
}

.postseperator {
	clear: both;
	margin: 10px 0 50px 0;
	padding: 0;
}

.posthead {
	width: 100%;
	float: left;
}

.starticon {
	width: 40px;
	height: 20px;
	margin: 4px 20px 0 0;
	background-image: url("images/wegzeichen_start_alpha.png");
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}


.postheading {
	margin: 0;
	padding 0;
	float: left;
}

.entry {
	float: left;
	padding: 0 0 0 60px;
	box-sizing: border-box;
	/*mit box-sizing: width: 100% inkl. padding..*/
	width: 100%;
}

.entry-date {
	float: right;
}

.postfoot {
	
}

.zielicon {
	height: 40px;
	width: 20px;
	float: right;
	margin: 20px 75px 0 0;
	background-image: url("images/wegzeichen_ziel_alpha.png");
	background-size: 100%;
	background-repeat: no-repeat;
}


#logo {
	width: 200px;
	height: 110px;
	display: block;
	background-image: url("images/logo200.png");
	text-indent: -9999px;
	float: left;
	margin: 20px;
}

#siteheading {
	float: left;
	margin: 40px 0 0 90px;
}

#footer        {
	clear: both;
	height: 20px;
	margin: 10px;
	border-top: 1px solid #810a1a;
	text-align: center;
	padding-top: 5px;
}

}
/* End of PC User section */

#wrapper    {
	margin: 0;

}

.floatstop {
	clear: both;
}

#linetop   {
	height: 1px;
	width: 100%;
	border-bottom: 1px solid #CFCFCF;
	background-color: #999;
}



#header        {
	min-height: 110px;
	margin: 0 0 40px 0;
}

.current_page_item {
	
}

#linebottom {
	height: 1px;
	width: 100%;
	background-color: #CFCFCF;
	border-top: 1px solid #999;
}


h1, h2, h3, h4, h5 {
	color: #003056;
	/*text-shadow: 0 -1px 1px #bfbfbf, 0 1px 1px #fff;*/
	text-shadow: 0 -1px 0 #000, 0 1px 0 #fff;
}

.category-allgemein {

}

.category-woelflinge {

}

.category-jupfis {

}

.category-pfadis {

}

.category-rover {

}

.category-leiter {

}

a:link {
    	text-decoration: none;
	color: #1a181b;
	font-weight: bold;
}

a:visited {
	color: #1a181b;
    	text-decoration: none;
}

a:hover {
	color: #810a1a;
    	text-decoration: none;
}

a:active {
	color: #810a1a;
    	text-decoration: none;
}

img.size-full, img.size-large, img.header-image, img.wp-post-image {
    max-width: 100%;
    height: auto;
}

.entry img {
    max-width: 100%;
    height: auto;
}

.albumList {
	margin: 0;
	padding: 0;
}

.albumList li {
	list-style: none;
	margin: 0;
	margin-bottom: 5px;
	padding 0;
	cursor:pointer;
}

.albumList li:hover {
	color: #810a1a;
}

/*die Klasse wird in der Thumbnail-Liste auf dem BilderseitenTemplate benutzt*/
.thumbList {
	margin: 0;
	padding: 0;
}

.thumbList li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
	margin-left: 8px;
	margin-top: 3px;
	
}



/* Alignment
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

